* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    /* colors */
    --clr-bg-body: hsl(210, 36%, 96%);
    --clr-box-blue: hsl(209, 61%, 16%);
    --clr-heading-blue: hsl(205, 72%, 37%);
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-bg-body);
    font-size: 1rem;
}

/* !class and ID */

.section-center {
    display: grid;

    width: 92%;
    margin: auto;
    max-width: 1200px;

    margin-top: 10%;
}

.image-container img {
    width: 100%;
}


.giveaway-container {
    display: grid;
    align-content: space-between;
    margin: 30px 0;
}

.giveaway-container aside > *:not(.countdown-box) {
    margin: 20px 0;
}

.text h3 {
    color: var(--clr-heading-blue);
}

.giveaway-container h4 {
    letter-spacing: .15rem;
}

.giveaway-container p {
    letter-spacing: .03rem;
}

/* countdown container */

.countdown-container {
    display: flex;
    align-items: center;
}

.countdown-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80px;
    height: 80px;
    margin: 0 7px;

    background: var(--clr-box-blue);
    color: white;
}

.countdown-box:first-child {
    margin-left: 0;
}
.countdown-box:last-child {
    margin-right: 0;
}


.countdown-box h3 {
    font-size: 2rem;
}

/* !media */
@media(min-width: 900px) {
    .section-center {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}